.titleColl {
    padding: 10px;    
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 17px;
    color: black;
    letter-spacing: 4px;
    width: 70%;
}

.btn-primary {
    width: 5px;
    height: 5px;
}

.btn-group {
    color: white;
    width: 60%;
    margin: auto;
}

.descColl {
    padding: 20px;    
    margin: auto;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 13px;
    color: black;
    letter-spacing: 2px;
    width: 100%;
    left: 50%;
    cursor: pointer;
}

a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    padding-bottom: 10px;
}

a:hover {
    color: black;
    cursor: pointer;
    font-weight: bolder;
    text-decoration: none;
}

.linkbutt {
    display: block;
    color: black;
    text-align: left;
    background-color: white;
    
}

.ul {
    border: black solid 1px;
    display: block;
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 70px;
} 

li {
    display: block;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    width: 100%;
    letter-spacing: 1px;
    font-variant: small-caps;
}

.butts {
    color: white;
    text-decoration: none;
    display: inline;
    border: black solid 1px;
    background-color: white;
    padding: 1px 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 7px;
}

@media screen and (min-width: 415px) {
    .containerC {
        border: none;
        margin: auto;
        position: absolute;
        width: 100%;
        left: 30%;
    }
}