 .Header {
     margin: 30px;
 }

.col-md {
    border: solid red 1px;
    background: none;
}

 /* .card-body {
     text-decoration: none;
     color: black;
     padding: 30px;
     border: none;
 } */

 .card {
     border: solid orange 1px;
     background: none;
     margin: auto;
 }


 .card-body:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
 }

.uh {
    border: solid 1px blue;
}

h2 {
    border: solid 1px pink;
    padding-bottom: 20px;
}

h4 {
    border: solid 1px green;
}

 .btn {
    border-radius: 0;
    background-color: black;
    color: white;
    font-size: 10px;
    letter-spacing: 5px;
    padding: 5px 18px;
    margin: auto;
    cursor: pointer;
 }